{% extends 'base.html' %}

{% block meta %}
<meta name="keywords" content="{{collection.title}} songs, {{collection.title}} songs lyrics">
{% endblock %}

<!-- TODO update seo friendly description -->
{% block head %}
<title>Lyrics Library - Collections</title>
<meta name="description" content="Best song lyrics collections at Lyrics Library."> 
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <h1 class="h1 py-4">Top Collections</h1>
        <div class="row row-cols-2 row-cols-md-4 g-4">
            {% for collection in collections %}
            <div class="col h-100">
                <div class="bg-image ripple shadow-4-soft rounded-6 overflow-hiddend-block"
                    data-ripple-color="light">
                    <img src="{{collection.image}}" class="w-100" alt="{{collection.title}} song lyrics" />
                    <a href="/coll/{{collection.id}}">
                        <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100 p-3">
                                <span class="badge badge-primary me-2">{{collection.title}}</span>
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.15)"></div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation" class="mt-4">
            <ul  class="pagination justify-content-center pagination-sm">
                
                <li class="page-item"><a class="page-link" href="?page="></a></li>
       
            </ul>
        </nav>
    </div>
</main>
{% endblock %}